# requirements.txt
streamlit==1.31.0
PyPDF2==3.0.1
python-docx==1.0.1
pytesseract==0.3.10
Pillow==10.0.0
requests==2.31.0
pandas
matplotlib==3.7.2
seaborn==0.12.2
langdetect==1.0.9
plotly==5.17.0
wordcloud==1.8.2
nltk==3.8.1
reportlab==4.0.4
difflib-sequences==1.1.1
python-dateutil==2.8.2